@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Button */
/* сделать чек по цвету */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.welcome-sedona {
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  width: 1200px;
  height: 485px;
  position: relative;
  text-align: center;
}

.welcome-sedona::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../images/Vector.svg");
  position: absolute;
  background-repeat: no-repeat;
  bottom: -1px;
}

.Intro-sedona h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-page-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item .advantages-item-5 {
  background-color: #82b3d3;
}

.advantages-item h3,
.advantages-item-5 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-item,
.advantages-item-5 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-item-2,
.advantages-item-3,
.advantages-item-4,
.service-item-1,
.service-item-2,
.service-item-3 {
  list-style-type: none;
  text-align: center;
}

.advantages-item-2,
.advantages-item-3,
.advantages-item-4,
.service-item-1,
.service-item-2,
.service-item-3,
.advantages-title,
.advantages-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-2,
.advantages-item-3,
.advantages-item-4,
.service-item-1,
.service-item-2,
.service-item-3,
.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Фоны для блоков*/
.advantages-list li:first-child,
.service-list li:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(2),
.service-list li:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list li:last-child .service-list li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

/* Услуги */

.services-offer h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-offer p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.service-item {
  list-style-type: none;
  text-align: center;
}

.service-item:first-child:before {
  content: "";
  background-image: url("../images/advantages/advanteges-housing-icon.svg");
  display: block;
  width: 100%;
  height: 72px;
  background-repeat: no-repeat;
  position: absolute;
  color: #83b3d3;
}

.service-item:nth-child(2)::before {
  content: "";
  display: block;
  background-image: url("../images/advantages/advanteges-eating-icon.svg");
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  position: absolute;
}

.service-item:last-child::before {
  content: "";
  display: block;
  background-image: url("../images/advantages/advanteges-souvenir-icon.svg");
  width: 100%;
  height: 76px;
  background-repeat: no-repeat;
  position: absolute;
}

.service-item,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-item,
.ervice-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-list li:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.service-list li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

/* Заинтересовались? */

.service-order h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service-order p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe {
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: no-repeat;
  width: 1200px;
  height: 414.86px;
  color: #ffffff;
}

.subscribe-sign-up h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-sign-up p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-button {
  background: #82b3d3;
}

/*ПОДВАЛ-INDEX*/
.footer-page {
  color: #000000;
  background: white;
}
.footer-social-item a {
  list-style-type: none;
}
.footer-social-item a {
  background-color: rgba(5, 5, 5, 0);
}

/* КАТАЛОГ */

.filter-catalog {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background/background-filter.jpg");
  width: 1200px;
  height: 412px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* flex удалю */
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-select-list,
.catalog-select-box,
.breadcrumbs-link {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

/* breadcrumbs */
.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.catalog-select-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-select-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/* ПРИМЕНИТЬ=СБРОСИТЬ  */

.button.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
}

.button.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(5, 5, 5, 0);
  border: 0;
}

.find-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Боковые кнопки, не уверен в них */
.button.button-light {
  background: rgba(5, 5, 5, 0);
  color: #000000;
}

/* Сортировка */

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-list {
  list-style-type: none;
}

.hotel-item-link {
  text-decoration: none;
}

/* Отели */
.hotel-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-item-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotel-item-select-button {
  background: #82b3d3;
}

.hotel-item-selected-button {
  background: #7db54f;
}

/* Рейтинг */
.hotel-item-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/* подписка на рассылку */

.subscribe-sign-up-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe-sign-up-catalog P {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
}

/* ПОДВАЛ КАТАЛОГА */

.footer-page {
  color: #000000;
  background: white;
}

.footer-social-item-catalog a {
  list-style-type: none;
}
.footer-social-item-catalog a {
  background-color: rgba(5, 5, 5, 0);
}

.footer-contact-phone-catalog {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
