@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
  user-select: none;
  object-fit: contain;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  min-height: 64px;
}

.main-page .main-filter {
  color: #000000;
  background-color: #ffffff;
}

.footer-page {
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: -5px 0 10px -5px rgb(151 143 143 / 50%),
  5px 0 10px -5px rgb(151 143 143 / 50%);

}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  min-height: 64px;
  padding: 0 70px 0 70px;
}

.navigation-logo {
  position: absolute;
}

.navigation-list {
  margin: 0;
  padding: 0;
  margin-left: 168px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 440px;
  min-height: 64px;
}


.navigation-user {
  padding: 0;
  margin: 0;
  width: 320px;
  min-width: 64px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  color: #000000;
  justify-content: flex-end;
}

.navigation-link {
  min-width: 20px;
  padding: 22px 12px;
}

.navigation-link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}



.navigation-item a {
  padding: 19px 16px;
}

.navigation-item-user {
  position: relative;
  min-width: 44px;
  min-height: 64px;
}

.navigation-item-user a {
  display: block;
  padding: 22px 13px 16px 13px;
}

.navigation-item .button {
  display: block;
  padding: 8px 34px;
  margin-left: 20px;
}

.navigation-item .navigation-link:hover {
  color: #615048;
}

.navigation-item .navigation-link:focus {
  color: #615048;
}

.navigation-item .navigation-link:active {
  color: rgba(143, 136, 136, 0.3);
}

.navigation-item .navigation-link:not([href]) {
  pointer-events: none;
}

.navigation-user li:nth-child(2)::before {
  content: attr(data-count) "";
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 16%;
  left: 44%;
  z-index: 1;
  transform: translate(4px, 5px);
}

.navigation-user li:nth-child(2)::after {
  content: "";
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 44%;
}

/* Button */
/* сделать чек по цвету */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.welcome-sedona {
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  min-height: 485px;
}

.welcome-sedona::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../images/splash.svg");
  position: relative;
  background-repeat: no-repeat;
  bottom: -25px;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button:disabled {
  color: #ffffff;
  background: #e5e5e5;
}

.intro-sedona {
  padding: 33px 275px 89px 275px;
  margin: 0;
}

.intro-title {
  white-space: pre-line;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.intro-description {
  white-space: pre-line;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
  margin: 0;
}

/* advanatges */

.advantages-item-other,
.advantages-item-other p,
.advantages-item-other h3 {
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-other h3 {
  margin-top: 102px;
  width: 175px;
  margin-left: 112.5px;
}

.advantages-item-other p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-other {
  width: 400px;
}

/* Это палка */

.advantages-item h3:after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-flex,
.advantages-flex-2 {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  list-style-type: none;
  background: #82b3d3;
  min-height: 345px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.advantages-item-image {
  display: flex;
  align-items: flex-end;
}

/* Фоны и цвета для блоков*/

.advantages-item:nth-child(1),
.advantages-item:nth-child(7) {
  color: #ffffff;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) p,
.advantages-item:nth-child(4) p,
.advantages-item:nth-child(5) p {
  color: #333333;
}

.advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.02);
}

.advantages-item:nth-child(3) h3:after,
.advantages-item:nth-child(4) h3:after,
.advantages-item:nth-child(5) h3:after {
  background: rgba(0, 0, 0, 0.3);
}

/* Услуги */

.service-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.services-offer {
  margin: 0 auto;
  width: 505px;
  padding: 64px 348px 64px 348px;
}

.services-offer h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.services-offer p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  width: 503px;
  margin: 0;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service-item {
  width: 400px;
  text-align: center;
  padding: 81px 85px;
}

.service-item::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.service-item:nth-child(1) {
  background: url("../images/advantages/advanteges-housing-icon.svg") no-repeat
    50% 80px rgba(131, 179, 211, 0.12);
}
.service-item:nth-child(2) {
  background: url("../images/advantages/advanteges-eating-icon.svg") no-repeat
    50% 80px;
}

.service-item:nth-child(3) {
  background: url("../images/advantages/advanteges-souvenir-icon.svg") no-repeat
    50% 80px rgba(131, 179, 211, 0.12);
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

/* Заинтересовались? */

.service-order {
  text-align: center;
  padding: 96px 304px 96px 304px;
  margin: 0;
}

.interes {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.interest-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #333333;
}

.service-order a {
  text-align: center;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  max-width: 375px;
  min-height: 52px;
  margin: 54px auto 0;
}

.subscribe {
  background-image: url("../images/background/background-subscribe.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  width: 100%;
  color: #ffffff;
  background-size: 100% auto;
  min-height: 415px;
  text-align: center;
  margin-top: 1px;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 100%;
  color: #000000;
  background-size: 100% auto;
  min-height: 415px;
  text-align: center;
  margin-top: 1px;
}

.subscribe-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe-intro-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 155px;
  padding-bottom: 20px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
}

.subscribe-catalog p {
color: #333333;
}

.subscribe-form {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 104px;
}

/*ПОДВАЛ-INDEX*/

.footer-social {
  padding: 40px 70px 30px 70px;
  display: flex;
  min-width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-social-item a {
  display: block;
  padding: 15px 13px;
  color: #83b3d3;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 195px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.button-social:hover {
  color: #68a2ca;
}

.button-social:focus {
  color: #68a2ca;
}

.button-social:active {
  color: rgba(104, 162, 202, 0.3);
}

/* КАТАЛОГ */

.filter-catalog {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 317px;
  margin: 0;
  padding: 35px 70px 59px 70px;

}

.footer-address-phone-contact {
  color: #000000;
  text-decoration: none;
}

.footer-address-phone-contact:hover {
  color: #756157;
}

.footer-address-phone-contact:focus {
  color: #756157;
}

.footer-address-phone-contact:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  color: #000000;
  min-width: 165px;
  display: flex;
  justify-content: flex-end;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.catalog-select {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 1060px;
  min-height: 160px;
}

.catalog-select-box.infrastructure {
  width: 150px;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-select-box.type {
  width: 190px;
  padding: 0;
  margin: 0;
}

.catalog-select-box,
.catalog-price-box,
.catalog-button {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  border: none;
}

.select {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.catalog-select-list,
.catalog-select-box {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.catalog-select-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.catalog-select-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px 0;
  padding: 0;
}

.catalog-select-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-select-item .select:hover {
  opacity: 0.6;
}

.catalog-select-item .select:active {
  opacity: 0.3;
}

.catalog-price-box {
  width: 290px;
  padding: 0;
  margin: 0 0 0 102px;
}
.catalog-price-box-input {
  display: grid;
  width: 288px;
  height: 104px;
  border: 0;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.catalog-price-box-input input:first-of-type {
  grid-column: 1 / 2;
  margin: 0;
  width: 141px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding-right: 45px;
  padding-left: 20px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  border: 2px solid rgba(80, 55, 80, 0);
  cursor: pointer;
}

.catalog-price-box-input label:first-of-type {
  grid-column: 1 / 2;
  position: absolute;
  color: #000000;
  padding-top: 12px;
  padding-left: 106px;
  opacity: 0.3;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
}

.catalog-price-box-input input:nth-of-type(2) {
  grid-column: 2 / -2;
  margin: 0;
  width: 143px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding-right: 24px;
  padding-left: 20px;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  border: 2px solid rgba(80, 55, 80, 0);
}

.catalog-price-box-input label:nth-of-type(2) {
  grid-column: 2 / 2;
  position: absolute;
  color: #000000;
  padding-top: 12px;
  padding-left: 106px;
  opacity: 0.3;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
}

.catalog-price-box-input input[type="number"] {
  -moz-appearance: textfield;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  position: relative;
  z-index: 1;
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.range {
  grid-column: 1 / -1;
  position: relative;
  width: 288px;
  height: 6px;
  margin-top: 39px;
  background: grey;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #ffffff;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  outline: none;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 1px;
}

.toggle-max {
  right: -3px;
}

.catalog-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-price-box-input input:hover {
  background: #e6e6e6;
}

.catalog-price-box-input input:focus {
  background: #e6e6e6;
}

/*ОТКЛЮЧАЕМ СТРЕЛКИ В ФОРМЕ*/
.catalog-price-box-input input[type="number"]::-webkit-outer-spin-button,
.catalog-price-box-input input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.catalog-price-box-input input::placeholder {
  color: #000000;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 191px;
  padding: 0;
  margin: 0 0 0 70px;
}

/* ПРИМЕНИТЬ=СБРОСИТЬ  */

.button.button-apply {
  background: #82b3d3;
  padding: 8px 50px;
  margin: 56px 0 32px 0;
  border: 0;
  cursor: pointer;
}

.button.button-apply:hover {
  background: #68a2ca;
}

.button.button-apply:focus {
  background: #82b3d3;
}

.button.button-apply:disabled {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(5, 5, 5, 0);
  cursor: pointer;
  display: block;
  background-color: #33333300;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 8px 58px;
  margin-right: 0;
}

.button.button-reset:hover {
  opacity: 0.6;
}

.button.button-reset:focus-visible {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.button.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button.button-reset:disabled {
  color: #ddd4d4;
  pointer-events: none;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 39px 0;
  list-style: none;
  padding: 0;
  min-width: 114px;
  min-height: 21px;
}




/* .breadcrumbs-item {
  display: flex;
} */

/* .breadcrumbs li:first-child::after {
    position: absolute;
    min-width: 9px;
    height: 9px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
    border-radius: 1px;

    content: "";
} */

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  min-width: 73px;
  height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 29px 0 0;
}

.breadcrumbs-home {
  background-image: url(../images/icons/bread-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 6px;
}

.breadcrumbs-arrow::before {
  content: "";
  background-image: url(../images/icons/bread-arrow.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 21px;
  display: block;
  padding: 0;
  bottom: 5px;
  right: 84px;
  position: absolute;
  min-width: 9px;
}

/* .breadcrumbs-arrow::before {
  content: "";
  background-image: url(../images/icons/bread-arrow.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 21px;
  display: block;
} */

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Боковые кнопки, не уверен в них */
.button.button-light {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button.button-light-checked {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button.button-light:hover {
  border-color: #000000;
}

.button.button-light:focus {
  border-color: #68a2ca;
}

.button.button-light:active {
  border-color: #000000;
}

.button.button-light:disabled {
  color: #ddd4d4;
  pointer-events: none;
}

/* Сортировка */

.find-hotels-search {
  display: flex;
  width: 1060px;
  margin: 51px 71px 35px 70px;
  align-items: center;
}

.find-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 199px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
  padding-left: 20px;
  padding-right: 20px;
  appearance: none;
  background-image: url(../images/icons/select-change.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:hover:focus {
  outline: 2px solid #68a2ca;
}

.select-control:hover:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.card-type {
  display: flex;
  width: 160px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-type a {
  display: block;
  width: 48px;
  height: 45px;
  margin-right: 3px;
}

.card-type svg {
  padding-top: 14px;
}

.control:hover {
  opacity: 0.6;
}

.select-input[type="checkbox"]:checked + .control-mark {
  background: #ffffff url(../images/icons/choice-accept.svg) no-repeat 50% 50%;
}

.select-input:focus + .control-mark,
.select-input:focus + .control-mark-extra {
  outline: solid 3px #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.select-input[type="radio"]:checked + .control-mark-extra::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.select-input:focus-visible + .mark {
  outline: 3px solid #83b3d3;
}

.control-mark {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: baseline;
}

.control-mark-extra {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background: #ffffff;
  border-radius: 50%;
}

/* Отели */

.hotel-list {
  padding: 0;
  margin: 40px 67px;
  width: 1060px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
}

.sorting-hotels:after {
  content: "";
  width: 1060px;
  height: 1px;
  background: #e6e6e6;
  display: block;
  margin-left: 70px;
  margin-bottom: 35px;
}

.hotel-item-link {
  display: block;
  grid-column: 1 / -1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 300px;
  align-self: baseline;

}

.hotel-item-link img {
  margin-bottom: 16px;
}

.hotel-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-align: left;
  margin: 0;
}

.hotel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  min-height: 398px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  column-gap: 20px;
  row-gap: 16px;
  align-content: start;
}

.hotel-item-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotel-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotel-item-about-button {
  display: block;
  width: 122px;
  text-align: center;
  padding: 8px 8px 8px 8px;
}

.hotel-item-select-button {
  background: #82b3d3;
  display: block;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border: none;
}

.hotel-item-selected-button {
  background: #7db54f;
  display: block;
  width: 140px;
  padding: 8px 1px 8px 1px;
  text-align: center;
  border: none;
}

.hotel-item-select-button:hover {
  background: #68a2ca;
}

.hotel-item-select-button:focus {
  background: #68a2ca;
}

.hotel-item-select-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.hotel-item-selected-button:disabled {
  color: #ddd4d4;
  pointer-events: none;
}

.hotel-item-selected-button:hover,
.hotel-item-selected-button:focus {
  background-color: #6c9e42;
}

.hotel-item-selected-button:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-item-rating-star {
  display: flex;
  align-items: center;
  margin: 0;
  width: 140px;
  min-height: 37px;
}

.hotel-item-rating-star > span::before {
  content: url(../images/icons/star.svg);
}

.hotel-item-rating {
  display: block;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.pagination-main {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  margin-left: 70px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link.pagination-dots{
  background-color: #ffffff;
  color: #000000;
}

.pagination-item a {
  display: block;
  text-align: center;
  padding: 12px 12px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current, .pagination-dots):hover {
  background: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:not(.pagination-dots):focus {
  background: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:not(.pagination-dots):active {
  background: #82b3d3;
}

/* Рейтинг */
.hotel-item-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/* подписка на рассылку */

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
  background: #82b3d3;
  color: #ffffff;
  width: 232px;
  height: 55px;
  padding: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  overflow: hidden;
}

.button.subscribe-button:hover {
  background: #68a2ca;
}

.button.subscribe-button:focus {
  background: #68a2ca;
}

.button.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

/* ПОДВАЛ КАТАЛОГА */

.footer-contact-phone-catalog {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.footer-social.footer-social-catalog {
  padding: 98px 70px 30px 68px;
}

.email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 429px;
  height: 51px;
  padding: 0;
  border: 2px solid rgba(80, 55, 80, 0);
  padding-left: 20px;
}

.subscribe-form .email:hover {
  background: #e6e6e6;
}

.subscribe-form .email:focus {
  background: #e6e6e6;
}

.subscribe-form .email:not(:placeholder-shown) {
  border: 2px solid #000000;
}

/* Modal Container */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search {
  border-radius: 30px;
  min-width: 717px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 46px;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: rgb(242, 242, 242);
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button .check:active {
  opacity: 0.3;
}

.modal-close-button .check:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../images/icons/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transform: translate(15px, -10px);
  padding: 10px;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.hotel-search {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 440px;
  margin: 0 0 20px 0;
  text-align: left;
}

.hotel-search .field[type="text"] {
  padding: 13px 19px;
}

.hotel-search .field {
  border: 0;
  width: 440px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}

.hotel-search .field[type="text"] {
  padding: 0;
  padding-left: 20px;
  padding-right: 50px;
}

.hotel-search .field::placeholder {
  color: #000000;
}

.hotel-search .field:hover {
  background: #e6e6e6;
}

.hotel-search .field:focus-visible {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.hotel-search .field:not(:placeholder-shown) {
  border: 2px solid black;
  outline: none;
}

.hotel-search .field:disabled {
  background-color: #808080;
  color: #808080;
  pointer-events: none;
}

.error-message,
.message {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.error-message {
  color: #ff5757;
}

.date-input {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-self: center;
}

.visitor-counts {
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 111px;
  align-items: center;
  margin-bottom: 48px;
}

.adults-count,
.kids-count {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 12px 46px 12px 0;
}

.kids-count {
  grid-column: 4/5;
}

.adult-count-wrapper,
.kids-count-wrapper {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  margin-left: auto;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.kids-count-input,
.adults-count-input {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  border-color: transparent;
  margin: 0;
  padding: 14px 8px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
}

.hotel-search .button {
  position: absolute;
  background: url(../images/icons/calendar.svg);
  width: 16px;
  height: 16px;
  border: 0;
  transform: translateY(-32px);
  opacity: 0.3;
  top: 52px;
  right: 22px;
}

.modal-toggle-min {
  width: 40px;
  height: 48px;
  background: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
  outline: none;
}

.modal-toggle-max {
  width: 40px;
  height: 48px;
  background: #f2f2f2;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
  outline: none;
}

.modal-toggle-min:hover svg,
.modal-toggle-max:hover svg {
  color: #000000;
}

.modal-toggle-min:focus-visible svg,
.modal-toggle-max:focus-visible svg {
  color: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.modal-toggle-min:active svg,
.modal-toggle-max:active svg {
  color: rgba(117, 97, 87, 0.3);
}

.modal-toggle-min:disabled,
.modal-toggle-max:disabled {
  background-color: #808080;
  color: #808080;
  pointer-events: none;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.adult-count-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.kids-count-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.modal-search-button {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
  border-color: transparent;
  background-color: #83b3d3;
  width: 100%;
  padding: 18px 57px;
  text-align: center;
  cursor: pointer;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background: #68a2ca;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.modal-search-button:disabled {
  color: #ddd4d4;
  pointer-events: none;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 60px;
  margin-top: -25px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: help;
}

.tooltip-icon {
  border: 0;
  padding: 0;
  background: #83b3d3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tooltip-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 216px;
  min-height: 110px;
  padding: 21px 18px 14px 22px;
  position: absolute;
  margin-top: 16px;
  transform: translateX(calc(-50% + 13px));
  display: none;
}

.tooltip-text:before {
  content: "";
  background-image: url("../images/icons/tooltip-piramid.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 99%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
